#!/usr/bin/env python3

from pwn import *

p = process('')
binary = ELF('')

context.terminal = ['/mnt/c/Users/nofil/AppData/Local/Microsoft/WindowsApps/wt.exe',
                    '--', 'wsl.exe', '--', 'bash', '-c']

def main():
    
    gdb.attach(p)
    p.interactive()

if __name__ == '__main__':
    main()